body {
  padding-top: 80px;
}
.navbar {
  padding: .2rem 1rem !important;
}
.navbar-brand {
  display: inline-block;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
width: 50px;
}
.App {
text-align: center;
}

.App-logo {
height: 40vmin;
pointer-events: none;
}
.main{
padding:0 15px;
}
.header{
padding:0 15px;
}
.logo{
width: 60px;
  border-radius: 100px;
  overflow: hidden;
  margin: 10px 0;
}

img.header-logo {
  max-width: 60px;
}
.select-style {
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("/down-arrow.png") no-repeat 95% 50%;
}
.select-style select {
  padding: 8px 15px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.select-style select:focus {
  outline: none;
}

.order-by {
  border: 1px solid #ccc;
  width: 150px;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url(/down-arrow.png) no-repeat 95% 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}
.order-by select {
  padding: 5px 15px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}
.order-by select:focus {
  outline: none;
}
.checkbox-list li {
  list-style: none;
margin: 8px 0;
}
.checkbox-list label {
  margin-left: 10px;
  vertical-align: top;
}
.list-group input[type=checkbox] {
  border: 0 solid #000;
  padding: .5em;
  -webkit-appearance: none;
  background: url(/checkbox-bg.png) no-repeat center left;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
margin-top: 3px;
}

.list-group input[type=checkbox]:checked {
background: url(/checkbox-bg-active.png) no-repeat center left;
background-size: 18px 18px;
width: 18px;
height: 18px;
cursor: pointer;
margin-top: 4px;
}

.list-group input[type=checkbox]:focus {
outline-color: transparent;
}

.list-group input:checked + label {
  color: #0069aa;
  font-weight: 600
}
ul.checkbox-list {
  border: 1px solid rgba(0,0,0,.125);
  padding: 15px 15px;
}
.right-part .card {
  margin-bottom: 15px;
}
.right-part .card .card-body {
  padding: 15px !important;
  font-size: 14px;
  min-height: 150px;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
@media (min-width: 992px) and (max-width: 1199px){
.order-by {
  width: 130px;
}	
}